<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisun.dao.AlbumDao" >
  <resultMap id="BaseResultMap" type="com.hisun.common.bean.Album" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="albumName" property="albumname" jdbcType="VARCHAR" />
    <result column="albumDesc" property="albumdesc" jdbcType="VARCHAR" />
    <result column="imageFM" property="imagefm" jdbcType="VARCHAR" />
    <result column="classId" property="classid" jdbcType="BIGINT" />
    <result column="createDate" property="createdate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, albumName, albumDesc, imageFM, classId, createDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from album
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from album
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hisun.common.bean.Album" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY as column_name
    </selectKey>
    insert into album (albumName, albumDesc, imageFM, 
      classId, createDate)
    values (#{albumname,jdbcType=VARCHAR}, #{albumdesc,jdbcType=VARCHAR}, #{imagefm,jdbcType=VARCHAR}, 
      #{classid,jdbcType=BIGINT}, #{createdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hisun.common.bean.Album" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY as column_name
    </selectKey>
    insert into album
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="albumname != null" >
        albumName,
      </if>
      <if test="albumdesc != null" >
        albumDesc,
      </if>
      <if test="imagefm != null" >
        imageFM,
      </if>
      <if test="classid != null" >
        classId,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="albumname != null" >
        #{albumname,jdbcType=VARCHAR},
      </if>
      <if test="albumdesc != null" >
        #{albumdesc,jdbcType=VARCHAR},
      </if>
      <if test="imagefm != null" >
        #{imagefm,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=BIGINT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hisun.common.bean.Album" >
    update album
    <set >
      <if test="albumname != null" >
        albumName = #{albumname,jdbcType=VARCHAR},
      </if>
      <if test="albumdesc != null" >
        albumDesc = #{albumdesc,jdbcType=VARCHAR},
      </if>
      <if test="imagefm != null" >
        imageFM = #{imagefm,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        classId = #{classid,jdbcType=BIGINT},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hisun.common.bean.Album" >
    update album
    set albumName = #{albumname,jdbcType=VARCHAR},
      albumDesc = #{albumdesc,jdbcType=VARCHAR},
      imageFM = #{imagefm,jdbcType=VARCHAR},
      classId = #{classid,jdbcType=BIGINT},
      createDate = #{createdate,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>