@charset "UTF-8";
/* CSS Document */
/* album.jsp */
img {
	border: 0px;
}

#picList {
	width: 100%;
}

#picList li {
	width: 300px;
	height: 200px;
	position: relative;
	overflow: hidden;
	float: left;
	margin: 24px 0 0 20px;
}

#picList li img, #picList li a {
	position: absolute;
	top: 0px;
	left: 0px;
}

#picList li img {
	width: 100%;
}

#picList li a {
	display: block;
	width: 280px;
	height: 180px;
	top: 160px;
	background: #000;
	color: white;
	font-style: normal;
	line-height: 25px;
	padding: 10px;
	opacity: 0.8;
	text-decoration: none;
}